* {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    box-sizing: border-box;
}

.body{
    background-color: #1B4B5D;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

p {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 1.15rem;
}
/* import font */
@font-face {
    font-family: 'DM Sans';
    src: url('DMSans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

/* transtion */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
}


/* NAV BAR */

nav ul {
    display: flex;
    justify-content: right;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

nav a:hover {
    color: #d0cccc
}
/* HOMEPAGE */

.home-box{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    animation: fadeInUp 1s forwards;
}

.home-text h1{
    font-size: 500%;
}

.home-text p{
    font-size: 200%;
    margin-right: 20%;
    margin-bottom: 4%;
}

.button {
    padding-right: 20%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;
    text-decoration: underline; 
    background-color: transparent;
    color: white; 
    border: 2px solid white; 
    cursor: pointer;
    outline: none; 
}

.button:hover {
    transition-duration: 1s;
    background-color: white; 
    color: #1B4B5D; 
}

.an-najma {
    max-width: 50%;
}

/* ABOUT STYLING */ 

.about-box{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    animation: fadeInUp 1s forwards;
}

.about-title{
    padding-right: 10%;
}

.about-title h1{
    font-size: 500%;
    white-space: nowrap;
}

.about-text p{
    font-size: 200%;
}

.book-pic{
    max-width: 125%;
    padding: 0%;
    margin: 0%
}

/* JOIN STYLING */ 

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-right: 50%;
    animation: fadeInUp 1s forwards;
    background-color: white;
    color: #1B4B5D;
}

.left-side h1{
    font-size: 500%;
}

.left-side p{
    font-size: 200%;
}